/* h1 {
    color: #7BC366;
} */
/* html { font-size: calc(1em + 1vw) } */
#carousel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#section-description {
    margin-bottom: 0;
    width: 300px;
}
#project-carousel-link {
    text-decoration: none;
    color: white;
}
.about-box {
    width: 50%;
    height: 400px;
}
#about-box-div-1 {
    background-color: #e9eaed;
}
#about-box-div-2 {
    background-color: white;
}
#about-box-div-3 {
    background-color: #7BC366;
}
#about-box-div-4 {
    background-color: gray;
}
#about-box-div-5 {
    background-color: #e9eaed;
    width: 100%;
}

.about-layer-div {
    display: flex;
    height: 30%;
    margin-left: 14%;
    margin-right: 14%;
}

/* Extra large TV screens */
@media screen and (min-width: 1200px) { 
    #index-title{
        padding-top: 0%;
    }
    #section-description {
        /* width: 300px; */
    }
}
/* Desktops, large screens */
@media screen and (max-width: 1200px) { 
    #index-title{
        padding-top: 0%;
    }
    #section-description {
        /* width: 40%; */
    }
}
/* Small screens, laptops */
@media screen and (max-width: 1024px) { 
    #index-title{
        padding-top: 4%;
    }
    #section-description {
        /* width: 50%; */
    }
}
/* iPads & Tablets */
@media screen and (max-width: 768px) { 
    #index-title{
        padding-top: 4%;
    }
    #section-description {
        width: 200px !important;
        font-size: 20px !important;
    }
    
}
/* Mobile */
@media screen and (max-width: 480px) { 
    #index-title{
        padding-top: 4%;
    }
    #section-description {
        /* width: 70% !important; */
        font-size: 20px !important;
    }
}